<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Imobiliária - Solicitar contrato</title>
    <link rel="stylesheet" type="text/css" th:href="@{/contract.css}">
</head>

<body>
    <div>
        <h1> Imobiliária - Solicitar contrato </h1>
        <hr>

        <form action="#"
            th:action="@{/requestContract/{logedClientId}/{homeId}(logedClientId=${logedClientId}, homeId=${homeId})}"
            th:object="${contract}" method="POST">
            <label>Tipo de anúncio: </label>
            <input readonly type="text" th:field="*{home.type}">
            <br>
            <label>Cidade da moradia: </label>
            <input readonly type="text" th:field="*{home.city}">
            <br>
            <label>Descrição da moradia do contrato: </label>
            <input readonly type="text" th:field="*{home.description}">
            <br>
            <label>Custo da moradia: </label>
            <input readonly type="number" th:field="*{home.cost}">
            <br>
            <label>Descrição do contrato: </label>
            <input readonly type="text" th:field="*{description}">
            <br>
            <label>Nome do responsável: </label>
            <input readonly type="text" th:field="*{responsibleUser.name}">
            <br>
            <label>E-mail do responsável: </label>
            <input readonly type="text" th:field="*{responsibleUser.email}">
            <br>
            <label>Nome do Cliente: </label>
            <input readonly type="text" th:field="*{clientUser.name}">
            <br>
            <label>E-mail do cliente: </label>
            <input readonly type="text" th:field="*{clientUser.email}">
            <br>
            <button type="submit">Solicitar contrato</button>
        </form>
    </div>
</body>

</html>