<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Imobiliária - Erro</title>
    <link rel="stylesheet" type="text/css" th:href="@{/aviso.css}">
</head>

<body>
    <div>
        <h1>Imobiliária - Erro</h1>
        <hr>
        <h3>Já existe um utilizador registado com esse e-mail!</h3>
        <hr>
        <h5><a th:href="@{/index}">Voltar para a página principal</a></h5>
    </div>
</body>

</html>