<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Imobiliária - Login do anunciante</title>
    <link rel="stylesheet" type="text/css" th:href="@{/login.css}">
</head>

<body>
    <div>
        <h1>Imobiliária - Login do anunciante</h1>
        <hr>

        <form action="#" th:action="@{/logAnunciante}" th:object="${anuncianteToLog}" method="POST">
            <label>E-mail do anunciante: </label>
            <input type="text" th:field="*{email}">
            <br>
            <label>Senha: </label>
            <input type="text" th:field="*{psw}">
            <br>
            <button type="submit">Entrar</button>
        </form>

        <hr>

        <h4>Não possui registo? <a th:href="@{/registrationAnunciante}">Registar</a></h4>
    </div>
</body>

</html>